@use 'fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Color Palette
$lightColor: #DFE1DB;
$darkColor: #232323;
$brownActiveColor: #61574C;
$lightBrownColor: #C5C6C1;
$brownColor: #9A9286;
$darkBrownColor: #706458;
$redColor: #8C2727;

// Topic Colors
$bugColor: #8C2727;
$featureColor: #3C449D;
$improvementColor: #EEE149;
$designColor: #CA9A4C;
$docsColor: #898989;
$researchColor: #709460;

body {
    background-image: url(../images/bg-image-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Switzer', sans-serif;
    min-height: 100vh;
}

// Header
.header {
    background-color: rgba($darkBrownColor, 0.40);

    &__container {
        max-width: 1280px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        margin: 0 auto;
    }

    &__logo {
        font-weight: 300;
        font-size: 42px;
        letter-spacing: 3px;
        color: $lightColor;
    }

    &__current-time {
        font-weight: 500;
        font-size: 28px;
        letter-spacing: 2px;
        color: rgba($lightColor, 0.7);
    }
}

// Main Container
.main {
    &__container {
        max-width: 1320px;
        width: 100%;
        margin: 0 auto;
        padding: 40px 20px 100px;
        display: flex;
        align-items: flex-start;
        gap: 30px;
    }
}

// Columns
.column {
    width: 100%;
    border-radius: 15px;
    border: 0.5px solid rgba($lightColor, 0.25);
    backdrop-filter: blur(6px);
    overflow: hidden;

    &__header {
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0.3px solid rgba($lightColor, 0.25);
    }

    &__title {
        font-family: inherit;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
    }

    &__counter {
        font-family: inherit;
        font-weight: 600;
        font-size: 20px;
    }

    &__body {
        padding: 20px;
    }

    &__btn {
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
        width: 100%;
        padding: 15px 0;
        text-align: center;
        border: none;
        border: 0.3px solid rgba($lightColor, 0.25);
        cursor: pointer;
    }
}

// Upcomming Column
.upcomming {
    background-color: rgba($darkBrownColor, 0.3);

    &__header {
        background-color: rgba($darkBrownColor, 0.3);
        color: rgba($lightColor, 0.70);
    }

    &__add-btn {
        background-color: rgba($darkBrownColor, 0.3);
        color: rgba($lightColor, 0.80);
        transition: background-color 0.1s linear,
                    font-size 0.1s linear;

        &:hover {
            background-color: rgba($darkBrownColor, 0.5);
            font-size: 19px;
            color: $lightColor;
        }

        &:active {
            background-color: rgba($darkBrownColor, 0.7);
            font-size: 18px;
        }
    }
}

// In Progress Column
.in-progress {
    background-color: rgba($brownColor, 0.3);

    &__header {
        background-color: rgba($brownColor, 0.3);
        color:  rgba($lightColor, 0.85);
    }
}

// Done Column
.done {
    background-color:rgba($lightColor, 0.3);;

    &__header {
        background-color: rgba($lightColor, 0.3);
        color: $darkColor;
    }

    &__delete-btn {
        background-color: rgba($lightColor, 0.3);
        color: $darkColor;
        transition: background-color 0.1s linear,
                    font-size 0.1s linear;

        &:hover {
            background-color: rgba($lightColor, 0.5);
            font-size: 19px;
        }

        &:active {
            background-color: rgba($lightColor, 0.7);;
            font-size: 18px;
        }
    }
}

// Task Card
.task {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba($darkColor, 0.25);
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }

    &--bug { background: linear-gradient(180deg, rgba($lightColor, 0.20), rgba($lightColor, 0.05)), rgba($bugColor, 0.60); }
    &--feature { background: linear-gradient(180deg, rgba($lightColor, 0.20), rgba($lightColor, 0.05)), rgba($featureColor, 0.60); }
    &--design { background: linear-gradient(180deg, rgba($lightColor, 0.20), rgba($lightColor, 0.05)), rgba($designColor, 0.60); }
    &--improvement { background: linear-gradient(180deg, rgba($lightColor, 0.20), rgba($lightColor, 0.05)), rgba($improvementColor, 0.60); }
    &--research { background: linear-gradient(180deg, rgba($lightColor, 0.20), rgba($lightColor, 0.05)), rgba($researchColor, 0.60); }
    &--docs { background: linear-gradient(180deg, rgba($lightColor, 0.20), rgba($lightColor, 0.05)), rgba($docsColor, 0.60); }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 7px;
        padding: 10px 20px;
        background-color: rgba($lightColor, 0.40);
        margin-bottom: 10px;
        position: relative;
    }

    &__title {
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        color: $darkColor;
        text-align: center;
    }

    &__move-popover {
        position: relative;
    }

    &__move-popover-btn {
        background: none;
        border: none;
        cursor: pointer;
        transition: transform 0.1s linear;
        &:hover {
            transform: scale(1.15);
        }
        &:active {
            transform: scale(1.00);
        }
    }

    &__move-popover-content {
        position: absolute;
        top: calc(100% + 10px);
        right: -30px;
        width: max-content;
        background-color: rgba($lightColor, 0.60);
        backdrop-filter: blur(6px);
        border-radius: 8px;
        padding: 7px;
        box-shadow: 0 4px 12px rgba($darkColor, 0.15);

        &--hidden {
            display: none;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 100%;
            right: 25px;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 10px solid rgba($lightColor, 0.60);
            backdrop-filter: blur(6px);
        }
    }

    &__move-list {
        list-style: none;
    }

    &__move-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__move-name-btn {
        border: none;
        background: transparent;
        font-family: inherit;
        font-size: 12px;
        font-weight: 400;
        color: $darkColor;
        cursor: pointer;
        margin-right: 9px;
        transition: font-size 0.1s linear;

        &:hover {
            font-size: 13px;
        }
        &:active {
            font-size: 13px;
        }
    }

    &__move-select-icon {
        &--hidden {
            visibility: hidden;
        }
    }

    &__body {
        border-radius: 7px;
        padding: 10px 15px;
        background-color: rgba($lightColor, 0.60);
        margin-bottom: 15px;
    }

    &__description {
        font-family: inherit;
        font-size: 13px;
        font-weight: 400;
        color: $darkColor;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    &__meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 8px;
        border-top: 1px solid rgba($darkColor, 0.1);
    }

    &__user {
        font-family: inherit;
        font-size: 12px;
        font-weight: 600;
        color: rgba($darkColor, 0.80);
    }

    &__time {
        font-family: inherit;
        font-size: 11px;
        font-weight: 400;
        color: rgba($darkColor, 0.90);
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__edit-btn {
        display: flex;
        gap: 5px;
        align-items: center; 
        padding: 3px 15px;
        border: 0.3px solid rgba($lightColor, 0.30);
        border-radius: 5px;
        background-color: rgba($lightColor, 0.30);
        opacity: 0.8;
        box-shadow: 0 4px 16px rgba($darkColor, 0.15);
        cursor: pointer;
        transition: opacity 0.1s linear,
                    transform 0.1s linear;

        &:hover {
            opacity: 1.0;
            transform: scale(1.05);
        }
        &:active {
            opacity: 1.0;
            transform: scale(1.00);
        }

    }

    &__edit-btn-text {
        font-family: inherit;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        color: $lightColor;
    }

    &__delete-btn {
        border: none;
        border-radius: 6px;
        border: 0.5px solid rgba($lightColor, 0.25);
        background-color: $redColor;
        opacity: 0.8;
        box-shadow: 0 4px 16px rgba($darkColor, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 10px;
        cursor: pointer;
        transition: opacity 0.1s linear,
                    transform 0.1s linear;

        &:hover {
            opacity: 1.00;
            transform: scale(1.05);
        }
        &:active {
            opacity: 1.00;
            transform: scale(1.00);
        }
    }
}

// Modal Overlay
.modal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($darkColor, 0.5);
    z-index: 1000;
}

.task-modal--hidden,
.warning-modal--hidden {
    display: none;
}

// Task Modal
.task-modal {
    max-width: 600px;
    width: 100%;
    padding: 30px 40px;
    border-radius: 15px;
    border: 0.3px solid rgba($lightColor, 0.30);
    background: linear-gradient(180deg, rgba($lightColor, 0.70) 0%, $lightBrownColor 50%, rgba($brownColor, 0.70) 100%);
    backdrop-filter: blur(6px);

    &__header {
        margin-bottom: 10px;
    }

    &__title {
        width: 100%;
        font: inherit;
        font-size: 18px;
        font-weight: 500;
        color: rgba($darkColor, 0.85);
        padding: 10px 20px;
        outline: none;
        border: none;
        border-radius: 8px;
        background-color: rgba($lightColor, 0.8);

        &::placeholder {
            color: rgba($darkColor, 0.5);
        }
    }

    &__description {
        font: inherit;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.5;
        color: rgba($darkColor, 0.85);
        width: 100%;
        padding: 10px 20px;
        outline: none;
        resize: none;
        border: none;
        border-radius: 8px;
        background-color: rgba($lightColor, 0.60);
        margin-bottom: 15px;

        &::placeholder {
            color: rgba($darkColor, 0.4);
        }
    }
    &__popovers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__user-popover,
    &__topic-popover {
        max-width: 250px;
        width: 100%;
    }

    &__popover-btn {
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        color: $darkColor;
        background-color: rgba($lightColor, 0.50);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.1s linear,
                    transform 0.1s linear;

        &:hover {
            background-color: rgba($lightColor, 0.70);
            transform: scale(1.05);
        }
        &:active {
            transform: scale(1.00);
        }
    }

    &__user-popover {
        position: relative;
    }

    &__user-popover-content {
        position: absolute;
        bottom: -20px;
        right: calc(100% + 10px);
        width: max-content;
        background-color: rgba($lightColor, 0.85);
        backdrop-filter: blur(6px);
        border-radius: 10px;
        padding: 14px;
        box-shadow: 0 4px 16px rgba($darkColor, 0.15);
    }

    &__user-popover-content--hidden {
        display: none;
    }

    &__user-list {
        list-style: none;
    }

    &__user {
        position: relative;
        margin: 0 0 6px 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__user-name {
        border: none;
        background: transparent;
        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        padding: 6px 10px;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            background-color: rgba($darkColor, 0.1);
        }
    }

    &__user-select {
        position: absolute;
        top: 15%;
        right: 100%;
    }

    &__user-select--hidden {
        display: none;
    }

     &__topic-popover {
        position: relative;
    }

    &__topic-popover-btn-content {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__topic-popover-btn-content--hidden {
        display: none;
    }

    &__topic-popover-content {
        position: absolute;
        top: calc(100% + 10px);
        right: 0;
        width: max-content;
        background-color: rgba($lightColor, 0.85);
        backdrop-filter: blur(6px);
        border-radius: 12px;
        padding: 16px;
        box-shadow: 0 4px 16px rgba($darkColor, 0.15);
        z-index: 10;
    }

    &__topic-popover-content--hidden {
        display: none;
    }

    &__topic-header {
        font-size: 16px;
        font-weight: 600;
        color: $darkColor;
        margin-bottom: 8px;
    }

    &__topic-decoration {
        line-height: 0;
        margin-bottom: 10px;
    }

    &__topic-list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    &__topic-item {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 6px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.1s linear;

        &:hover {
            background-color: rgba($darkColor, 0.05);
        }
    }

    &__topic-color {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        transition: transform 0.1s linear;
        &:hover {
            transform: scale(1.10);
        }
    }

    &__topic-select {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__topic-select--hidden {
        display: none;
    }
    &__topic-color--btn {
        width: 19px;
        height: 19px;
    }
    &__topic-color--bug { background-color: rgba($bugColor, 0.80); }
    &__topic-color--feature { background-color: rgba($featureColor, 0.80); }
    &__topic-color--design { background-color: rgba($designColor, 0.80); }
    &__topic-color--improvement { background-color: rgba($improvementColor, 0.80); }
    &__topic-color--research { background-color: rgba($researchColor, 0.80); }
    &__topic-color--docs { background-color: rgba($docsColor, 0.80); }

    &__topic-name {
        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        color: $darkColor;
        &--btn {
            font-size: 16px;
        }
    }

    &__controls {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }

    &__control-btn {
        font-family: inherit;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 10px 25px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &--cancel {
            color: $darkColor;
            background-color: rgba($lightColor, 0.60);
            transition: background-color 0.1s linear,
                        transform 0.1s linear;

            &:hover {
                background-color: rgba($lightColor, 0.75);
                transform: scale(1.05);
            }
            &:active {
                transform: scale(1.00);
            }
        }

        &--confirm {
            color: $lightColor;
            background-color:  rgba($darkColor, 0.70);

           transition: background-color 0.1s linear,
                        transform 0.1s linear;

            &:hover {
                background-color: rgba($darkColor, 0.80);
                transform: scale(1.05);
            }
            &:active {
                transform: scale(1.00);
            }
        }
    }
}

// Warning Modal
.warning-modal {
    max-width: 420px;
    width: 100%;
    padding: 20px 30px;
    border-radius: 15px;
    border: 0.3px solid rgba($lightColor, 0.25);
    background: linear-gradient(180deg, rgba($lightColor, 0.70) 0%, rgba($lightBrownColor, 0.60) 50%, rgba($brownColor, 0.50) 100%);
    backdrop-filter: blur(4px);
    text-align: center;

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 8px;
    }

    &__icon {
        transform: scale(1.3);
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        color: rgba($darkColor, 0.90);
    }

    &__line {
        line-height: 0;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        color: rgba($darkColor, 0.85);
        line-height: 1.5;
        margin-bottom: 20px;
    }

    &__controls {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__btn {
        font-family: inherit;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 10px 25px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &--cancel {
            background-color:rgba($lightColor, 0.60);
            color: $darkColor;
            transition: background-color 0.1s linear,
                        transform 0.1s linear;

            &:hover {
                background-color: rgba($lightColor, 0.80);;
                transform: scale(1.02);
            }
            &:active {
                transform: scale(1.00);
            }
        }

        &--delete {
            background-color: rgba($redColor, 0.70);
            color: $lightColor;
            transition: background-color 0.1s linear,
                        transform 0.1s linear;

            &:hover {
                background-color: $redColor;
                transform: scale(1.02);
            }
            &:active {
                transform: scale(1.00);
            }
        }
    }
}
