@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/bg-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Switzer", sans-serif;
}

.header {
  background-color: rgba(112, 100, 88, 0.2);
}
.header__container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  margin: 0 auto;
}
.header__logo {
  font-weight: 300;
  font-size: 42px;
  letter-spacing: 2px;
  color: rgba(223, 225, 219, 0.8);
}
.header__current-time {
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 1px;
  color: rgba(223, 225, 219, 0.6);
}

.main__container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.column {
  max-width: 410px;
  width: 100%;
  border-radius: 15px;
  border: 0.5px solid rgba(197, 198, 193, 0.4);
  overflow: hidden;
}
.column__header {
  padding: 7px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column__title {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
}
.column__counter {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 1px;
}
.column__body {
  padding: 15px 20px;
}
.column__btn {
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border: none;
}

.upcomming {
  background-color: rgba(112, 100, 88, 0.7);
}
.upcomming__header {
  background-color: rgba(112, 100, 88, 0.5);
  color: rgba(223, 225, 219, 0.8);
}
.upcomming__add-btn {
  background-color: rgba(112, 100, 88, 0.7);
  color: #DFE1DB;
  transition: font-size 0.1s linear, background-color 0.1s linear;
}
.upcomming__add-btn:hover {
  font-size: 22px;
  padding: 9px 0;
}
.upcomming__add-btn:active {
  font-size: 20px;
  background-color: #61574C;
  padding: 10px 0;
}

.in-progress {
  background-color: rgba(154, 146, 134, 0.7);
}
.in-progress__header {
  background-color: rgba(154, 146, 134, 0.5);
  color: rgba(223, 225, 219, 0.8);
}

.done {
  background-color: rgba(223, 225, 219, 0.7);
}
.done__header {
  background-color: rgba(223, 225, 219, 0.5);
  color: rgba(35, 35, 35, 0.8);
}
.done__delete-btn {
  background-color: rgba(223, 225, 219, 0.7);
  color: #232323;
  transition: font-size 0.1s linear, background-color 0.1s linear;
}
.done__delete-btn:hover {
  font-size: 22px;
  padding: 9px 0;
}
.done__delete-btn:active {
  font-size: 20px;
  background-color: #C5C6C1;
  padding: 10px 0;
}

.task {
  width: 100%;
  padding: 20px 20px 15px;
  border-radius: 15px;
  box-shadow: -5px 10px 20px rgba(35, 35, 35, 0.35);
  margin-bottom: 20px;
}
.task:last-child {
  margin-bottom: 0;
}
.task--bug {
  background-color: rgba(140, 39, 39, 0.6);
}
.task--feature {
  background-color: rgba(60, 68, 157, 0.6);
}
.task--design {
  background-color: rgba(202, 154, 76, 0.6);
}
.task--improvement {
  background-color: rgba(219, 215, 81, 0.6);
}
.task--research {
  background-color: rgba(112, 148, 96, 0.6);
}
.task--docs {
  background-color: rgba(137, 137, 137, 0.6);
}
.task__header {
  border-radius: 7px;
  padding: 8px 0;
  background-color: rgba(223, 225, 219, 0.5);
  margin-bottom: 20px;
  position: relative;
}
.task__title {
  font-size: 16px;
  font-weight: 500;
  color: #232323;
  text-align: center;
}
.task__move-popover {
  position: absolute;
  top: 8px;
  right: 8px;
}
.task__move-popover-btn {
  background: none;
  border: none;
  transition: transform 0.1s linear;
}
.task__move-popover-btn:hover {
  transform: scale(1.15);
}
.task__move-popover-btn:active {
  transform: scale(1);
}
.task__move-popover-content {
  position: absolute;
  top: calc(100% + 10px);
  right: calc(0% - 21px);
  width: -moz-max-content;
  width: max-content;
  background-color: #dfe1db;
  border-radius: 10px;
  padding: 8px;
}
.task__move-popover-content--hidden {
  display: none;
}
.task__move-popover-content::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #dfe1db;
}
.task__move-list {
  list-style: none;
}
.task__move-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task__move-name-btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  color: #232323;
  margin-right: 8px;
  transition: transform 0.1s linear;
}
.task__move-name-btn:hover {
  transform: scale(1.1);
}
.task__move-name-btn:active {
  transform: scale(1);
}
.task__move-select-icon--hidden {
  visibility: hidden;
}
.task__body {
  border-radius: 7px;
  padding: 7px 15px;
  background-color: rgba(223, 225, 219, 0.6);
  margin-bottom: 15px;
}
.task__description {
  font-size: 12px;
  font-weight: 400;
  color: #232323;
  margin: 5px auto 15px;
}
.task__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task__user {
  font-size: 12px;
  font-weight: 500;
  color: rgba(35, 35, 35, 0.8);
}
.task__time {
  font-size: 10px;
  font-weight: 400;
  color: rgba(35, 35, 35, 0.7);
}
.task__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task__edit-btn {
  opacity: 0.8;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3%;
  color: #232323;
  padding: 3px 10px;
  border: none;
  border-radius: 4px;
  background-color: rgba(223, 225, 219, 0.75);
  transition: transform 0.1s linear, background-color 0.1s linear;
}
.task__edit-btn:hover {
  transform: scale(1.05);
  background-color: rgba(223, 225, 219, 0.85);
}
.task__edit-btn:active {
  transform: scale(1);
  background-color: rgba(223, 225, 219, 0.6);
}
.task__delete-btn {
  border: 1px solid rgba(35, 35, 35, 0.8);
  border-radius: 4px;
  background-color: rgba(140, 39, 39, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  transition: transform 0.1s linear, background-color 0.1s linear;
}
.task__delete-btn:hover {
  transform: scale(1.05);
}
.task__delete-btn:active {
  transform: scale(0.95);
  background-color: #8c2727;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(35, 35, 35, 0.4);
}

.task-modal--hidden {
  display: none;
}

.task-modal {
  max-width: 644px;
  width: 100%;
  padding: 30px 25px 25px 45px;
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(223, 225, 219, 0.8) 10%, rgba(197, 198, 193, 0.8) 70%, rgba(154, 146, 134, 0.8) 100%);
}
.task-modal__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}
.task-modal__title {
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  color: #232323;
  max-width: 488px;
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: rgba(223, 225, 219, 0.8);
  color: #232323;
}
.task-modal__topic-popover {
  position: relative;
}
.task-modal__topic-popover-btn {
  background: none;
  border: none;
  margin: 0 25px;
  transition: transform 0.1s linear;
}
.task-modal__topic-popover-btn:hover {
  transform: scale(1.15);
}
.task-modal__topic-popover-btn:active {
  transform: scale(1);
}
.task-modal__topic-popover-content {
  position: absolute;
  top: 47px;
  right: -7px;
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(223, 225, 219, 0.8);
  border-radius: 10px;
  padding: 20px;
}
.task-modal__topic-popover-content::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 30px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 16px solid rgba(223, 225, 219, 0.8);
}
.task-modal__topic-popover-content--hidden {
  display: none;
}
.task-modal__topic-header {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #232323;
  margin-left: 10px;
}
.task-modal__topic-decoration {
  line-height: 0;
  margin-bottom: 10px;
}
.task-modal__topic-list {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  gap: 15px;
}
.task-modal__topic-item {
  display: flex;
  gap: 12px;
  align-items: center;
  transition: transform 0.1s linear;
}
.task-modal__topic-item:hover {
  transform: scale(1.1);
}
.task-modal__topic-item:active {
  transform: scale(1);
}
.task-modal__topic-color {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.1s linear;
}
.task-modal__topic-select {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.task-modal__topic-select--hidden {
  display: none;
}
.task-modal__topic-color--bug {
  background-color: rgba(140, 39, 39, 0.8);
}
.task-modal__topic-color--bug:active {
  background-color: #8c2727;
}
.task-modal__topic-color--feature {
  background-color: rgba(60, 68, 157, 0.8);
}
.task-modal__topic-color--feature:active {
  background-color: #3c449d;
}
.task-modal__topic-color--design {
  background-color: rgba(202, 154, 76, 0.8);
}
.task-modal__topic-color--design:active {
  background-color: #ca9a4c;
}
.task-modal__topic-color--improvement {
  background-color: rgba(219, 215, 81, 0.8);
}
.task-modal__topic-color--improvement:active {
  background-color: #dbd751;
}
.task-modal__topic-color--research {
  background-color: rgba(112, 148, 96, 0.8);
}
.task-modal__topic-color--research:active {
  background-color: #709460;
}
.task-modal__topic-color--docs {
  background-color: rgba(137, 137, 137, 0.8);
}
.task-modal__topic-color--docs:active {
  background-color: #898989;
}
.task-modal__topic-name {
  font: inherit;
  font-size: 12px;
  font-weight: 400;
  color: #232323;
}
.task-modal__description {
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  color: #232323;
  max-width: 554px;
  width: 100%;
  padding: 20px;
  outline: none;
  resize: none;
  border: none;
  border-radius: 4px;
  background-color: rgba(223, 225, 219, 0.8);
  color: #232323;
  margin-bottom: 10px;
}
.task-modal__buttons {
  max-width: 554px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.task-modal__set-btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #232323;
  background: linear-gradient(180deg, #DFE1DB 0%, #9A9286 100%);
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 8px 10px;
  border: none;
  border-radius: 2px;
  transition: transform 0.1s linear;
}
.task-modal__set-btn:hover {
  transform: scale(1.05);
}
.task-modal__set-btn:active {
  transform: scale(1);
  background: linear-gradient(180deg, #C5C6C1 0%, #9A9286 100%);
}
.task-modal__user-popover {
  position: relative;
}
.task-modal__user-popover-content {
  position: absolute;
  top: -200%;
  right: calc(100% + 6px);
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(223, 225, 219, 0.8);
  border-radius: 10px;
  padding: 15px;
}
.task-modal__user-popover-content--hidden {
  display: none;
}
.task-modal__user-list {
  list-style: none;
  margin-left: 17px;
}
.task-modal__user {
  position: relative;
  margin-bottom: 10px;
}
.task-modal__user:last-child {
  margin-bottom: 0;
}
.task-modal__user-name {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  transition: transform 0.1s linear;
}
.task-modal__user-name:last-child {
  margin-bottom: 0;
}
.task-modal__user-name:hover {
  transform: scale(1.1);
}
.task-modal__user-name:active {
  transform: scale(1);
}
.task-modal__user-select {
  position: absolute;
  top: 0;
  right: calc(100% + 5px);
}
.task-modal__user-select--hidden {
  display: none;
}
.task-modal__controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.task-modal__control-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 3%;
  padding: 8px 30px;
  border: none;
  border-radius: 2px;
}
.task-modal__control-btn--cancel {
  color: #232323;
  background-color: rgba(223, 225, 219, 0.9);
  margin-right: 30px;
  transition: transform 0.1s linear, background-color 0.1s linear;
}
.task-modal__control-btn--cancel:hover {
  transform: scale(1.05);
}
.task-modal__control-btn--cancel:active {
  transform: scale(1);
  background-color: #dfe1db;
}
.task-modal__control-btn--confirm {
  color: #DFE1DB;
  background-color: rgba(35, 35, 35, 0.7);
  transition: transform 0.1s linear, background-color 0.1s linear;
}
.task-modal__control-btn--confirm:hover {
  transform: scale(1.05);
}
.task-modal__control-btn--confirm:active {
  transform: scale(1);
  background-color: rgba(35, 35, 35, 0.85);
}

.warning-modal--hidden {
  display: none;
}

.warning-modal {
  max-width: 300px;
  width: 100%;
  padding: 20px 20px 10px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(223, 225, 219, 0.8) 10%, rgba(197, 198, 193, 0.8) 70%, rgba(154, 146, 134, 0.8) 100%);
}
.warning-modal__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.warning-modal__title {
  font: inherit;
  font-size: 14px;
  font-weight: 500;
  color: #232323;
}
.warning-modal__line {
  line-height: 0;
  margin-bottom: 15px;
}
.warning-modal__text {
  font: inherit;
  font-size: 12px;
  font-weight: 400;
  color: #232323;
  margin-bottom: 20px;
}
.warning-modal__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.warning-modal__btn {
  font: inherit;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3%;
  border: none;
  border-radius: 2px;
  padding: 5px 20px;
}
.warning-modal__btn--cancel {
  background-color: rgba(223, 225, 219, 0.9);
  color: #232323;
  cursor: pointer;
  transition: transform 0.1s linear, background-color 0.1s linear;
}
.warning-modal__btn--cancel:hover {
  transform: scale(1.05);
}
.warning-modal__btn--cancel:active {
  transform: scale(1);
  background-color: #dfe1db;
}
.warning-modal__btn--delete {
  background-color: rgba(140, 39, 39, 0.8);
  color: #DFE1DB;
  transition: transform 0.1s linear, background-color 0.1s linear;
}
.warning-modal__btn--delete:hover {
  transform: scale(1.05);
}
.warning-modal__btn--delete:active {
  transform: scale(1);
  background-color: #8c2727;
}/*# sourceMappingURL=app.css.map */