@use 'fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Color Palette
$lightColor: #DFE1DB;
$darkColor: #232323;
$brownActiveColor: #61574C;
$lightBrownColor: #C5C6C1;
$brownColor: #9A9286;
$darkBrownColor: #706458;
$redColor: #8C2727;

// Topic Colors
$bugColor: #8C2727;
$featureColor: #3C449D;
$improvementColor: #EEE149;
$designColor: #CA9A4C;
$docsColor: #898989;
$researchColor: #709460;

//Breakpoints
$bp-tablet: 992px;
$bp-small-tablet: 768px;
$bp-mobile: 480px;

// Mixins
@mixin text(
    $size,
    $weight: 400, 
    $color: $darkColor,
    $lineHeight: normal,
    $letterSpacing: normal
) {
    font-family: inherit;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}

@mixin flex($align: center, $justify: space-between, $gap:0) {
    display: flex;
    align-items: $align;
    gap: $gap;
    justify-content: $justify;
}



body {
    background-image: url(../images/bg-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Switzer', sans-serif;
    min-height: 100vh;
}

// Hidden elements
.is-hidden {
    display: none !important;
}

// Header
.header {
    background-color: rgba($darkBrownColor, 0.40);

    &__container {
        max-width: 1280px;
        width: 100%;
        @include flex();
        padding: 20px 40px;
        margin: 0 auto;
    }
    @media (max-width: $bp-tablet) {
    &__container {
        max-width: 940px;
        padding: 10px 26px;
      }
    }

    &__logo {
        @include text(42px, 300, $lightColor, normal, 3px)
    }
    @media (max-width: $bp-tablet) {
     &__logo {
        @include text(36px, 300, $lightColor, normal, 3px)
      }
    }
    @media (max-width: $bp-mobile) {
     &__logo {
        @include text(28px, 300, $lightColor, normal, 3px)
      }
    }

    &__current-time {
        @include text(28px, 500, rgba($lightColor, 0.7), normal, 2px)
    }
    @media (max-width: $bp-tablet) {
     &__current-time {
        @include text(22px, 500, rgba($lightColor, 0.7), normal, 2px)
      }
    }
    @media (max-width: $bp-mobile) {
     &__current-time {
        @include text(20px, 500, rgba($lightColor, 0.7), normal, 2px)
      }
    }
}

// Main Container
.main {
    &__container {
        max-width: 1320px;
        width: 100%;
        @include flex(flex-start, center, 30px);
        margin: 0 auto;
        padding: 40px 20px 100px;
    }
    @media (max-width: $bp-tablet) {
     &__container {
        max-width: 940px;
        @include flex(flex-start, center, 20px);
        padding: 20px 15px 50px;
      }
    }
    @media (max-width: $bp-small-tablet) {
     &__container {
        max-width: 760px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "upcoming inprogress"
                             "done done";
        gap: 20px;
      }
    }
    @media (max-width: $bp-mobile) {
     &__container {
        max-width: 350px;
        display: block;
      }
    }
}

// Columns
.column {
    width: 100%;
    border-radius: 15px;
    border: 0.5px solid rgba($lightColor, 0.25);
    backdrop-filter: blur(6px);
    overflow: hidden;

    &__header {
        padding: 15px 30px;
        @include flex();
        border: 0.3px solid rgba($lightColor, 0.25);
    }
    @media (max-width: $bp-tablet) {
     &__header {
        padding: 10px 20px;
      }
    }
    @media (max-width: $bp-small-tablet) {
     &__header {
        padding: 12px 25px;
      }
    }
    @media (max-width: $bp-mobile) {
     &__header {
        padding: 10px 20px;
      }
    }


    &__title {
        @include text(18px, 400, $lightColor, normal, 1px)
    }
    @media (max-width: $bp-tablet) {
    &__title {
        @include text(14px, 400, $lightColor, normal, 1px)
      }
    }
    @media (max-width: $bp-small-tablet) {
    &__title {
        @include text(18px, 400, $lightColor, normal, 1px)
      }
    }
    @media (max-width: $bp-mobile) {
    &__title {
        @include text(14px, 400, $lightColor, normal, 1px)
      }
    }

    &__counter {
        @include text(20px, 600, $lightColor, normal, normal)
    }
    @media (max-width: $bp-tablet) {
    &__counter {
        @include text(15px, 600, $lightColor, normal, normal)
      }
    }
    @media (max-width: $bp-tablet) {
    &__counter {
        @include text(20px, 600, $lightColor, normal, normal)
      }
    }
     @media (max-width: $bp-mobile) {
    &__counter {
        @include text(15px, 600, $lightColor, normal, normal)
      }
    }
    
    &__body {
        padding: 20px;
    }
    @media (max-width: $bp-tablet) {
    &__body {
        padding: 12px 8px;
      }
    }
    @media (max-width: $bp-small-tablet) {
    &__body {
        padding: 15x 10px;
      }
    }
    @media (max-width: $bp-mobile) {
    &__body {
        padding: 12px 8px;
      }
    }

    &__btn {
        @include text(18px, 400, $lightColor, normal, 1px);
        width: 100%;
        padding: 15px 0;
        text-align: center;
        border: none;
        border: 0.3px solid rgba($lightColor, 0.25);
        cursor: pointer;
    }
    @media (max-width: $bp-tablet) {
    &__btn {
        @include text(14px, 400, $lightColor, normal, 1px);
        width: 100%;
        padding: 10px 0;
      }
    }
    @media (max-width: $bp-small-tablet) {
    &__btn {
        @include text(18px, 400, $lightColor, normal, 1px);
        width: 100%;
        padding: 12px 0;
      }
    }
    @media (max-width: $bp-mobile) {
    &__btn {
        @include text(14px, 400, $lightColor, normal, 1px);
        width: 100%;
        padding: 10px 0;
      }
    }
}
@media (max-width: $bp-mobile) {
    .column {
       margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
      }
    }

// Upcoming Column
.upcoming {
    background-color: rgba($darkBrownColor, 0.3);

    &__header {
        background-color: rgba($darkBrownColor, 0.3);
    }

    &__title, 
    &__counter {
        color: rgba($lightColor, 0.70);
    }

    &__add-btn {
        background-color: rgba($darkBrownColor, 0.3);
        color: rgba($lightColor, 0.80);
        transition: background-color 0.1s linear,
                    transform 0.1s linear;

        &:hover {
            background-color: rgba($darkBrownColor, 0.5);
            transform: scale(1.05);
            color: $lightColor;
        }

        &:active {
            background-color: rgba($darkBrownColor, 0.7);
            transform: scale(1.00);
        }
    }
}
@media (max-width: $bp-small-tablet) {
    .upcoming { grid-area: upcoming; }
    }

// In Progress Column
.in-progress {
    background-color: rgba($brownColor, 0.3);

    &__header {
        background-color: rgba($brownColor, 0.3);
    }

    &__title, 
    &__counter {
        color:  rgba($lightColor, 0.85);
    }
}
@media (max-width: $bp-small-tablet) {
    .in-progress { grid-area: inprogress; }
    }

// Done Column
.done {
    background-color:rgba($lightColor, 0.3);;

    &__header {
        background-color: rgba($lightColor, 0.3);
        color: $darkColor;
    }

    &__title, 
    &__counter {
        color: $darkColor;
    }

    @media (max-width: $bp-small-tablet) {
        &__body {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
    @media (max-width: $bp-mobile) {
        &__body {
            display: block;
        }
    }

    &__delete-btn {
        background-color: rgba($lightColor, 0.3);
        color: $darkColor;
        transition: background-color 0.1s linear,
                    transform 0.1s linear;

        &:hover {
            background-color: rgba($lightColor, 0.5);
            transform: scale(1.05);
        }

        &:active {
            background-color: rgba($lightColor, 0.7);;
            transform: scale(1.00);
        }
    }
}
@media (max-width: $bp-small-tablet) {
    .done { grid-area: done; }
    }

// Task Card
.task {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba($darkColor, 0.25);
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }

    &--bug { background: linear-gradient(180deg, rgba($lightColor, 0.20), rgba($lightColor, 0.05)), rgba($bugColor, 0.60); }
    &--feature { background: linear-gradient(180deg, rgba($lightColor, 0.20), rgba($lightColor, 0.05)), rgba($featureColor, 0.60); }
    &--design { background: linear-gradient(180deg, rgba($lightColor, 0.20), rgba($lightColor, 0.05)), rgba($designColor, 0.60); }
    &--improvement { background: linear-gradient(180deg, rgba($lightColor, 0.20), rgba($lightColor, 0.05)), rgba($improvementColor, 0.60); }
    &--research { background: linear-gradient(180deg, rgba($lightColor, 0.20), rgba($lightColor, 0.05)), rgba($researchColor, 0.60); }
    &--docs { background: linear-gradient(180deg, rgba($lightColor, 0.20), rgba($lightColor, 0.05)), rgba($docsColor, 0.60); }

    &__header {
        @include flex();
        border-radius: 7px;
        padding: 10px 20px;
        background-color: rgba($lightColor, 0.40);
        margin-bottom: 10px;
        position: relative;
    }
    @media (max-width: $bp-tablet) {
    &__header  {
        padding: 7px 10px;
        margin-bottom: 7px;
      }
    }
    @media (max-width: $bp-small-tablet) {
    &__header  {
        padding: 9px 10px;
        margin-bottom: 8px;
      }
    }
    @media (max-width: $bp-mobile) {
    &__header  {
        padding: 7px 10px;
        margin-bottom: 7px;
      }
    }

    &__title {
        width: 100%;
        @include text(16px, 500, $darkColor, normal, normal);
        text-align: center;
    }
    @media (max-width: $bp-tablet) {
    &__title {
        @include text(14px, 500, $darkColor, normal, normal);
      }
    }
    @media (max-width: $bp-small-tablet) {
    &__title {
        @include text(15px, 500, $darkColor, normal, normal);
      }
    }
    @media (max-width: $bp-mobile) {
    &__title {
        @include text(14px, 500, $darkColor, normal, normal);
      }
    }

    &__move-popover {
        position: relative;
    }

    &__move-popover-btn {
        background: none;
        border: none;
        cursor: pointer;
        transition: transform 0.1s linear;
        &:hover {
            transform: scale(1.15);
        }
        &:active {
            transform: scale(1.00);
        }
    }

    &__move-popover-content {
        position: absolute;
        top: calc(100% + 10px);
        right: -31px;
        width: max-content;
        background-color: rgba($lightColor, 0.60);
        backdrop-filter: blur(6px);
        border-radius: 8px;
        padding: 7px;
        box-shadow: 0 4px 12px rgba($darkColor, 0.15);
        &::before {
            content: "";
            position: absolute;
            bottom: 100%;
            right: 25px;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 10px solid rgba($lightColor, 0.60);
            backdrop-filter: blur(6px);
        }
    }

    &__move-list {
        list-style: none;
    }

    &__move-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__move-name-btn {
        @include text(12px, 400, $darkColor, normal, normal);
        border: none;
        background: transparent;
        cursor: pointer;
        margin-right: 9px;
        transition: transform 0.1s linear;

        &:hover {
            transform: scale(1.02);
        }
        &:active {
            transform: scale(1.00);
        }
    }

    &__body {
        border-radius: 7px;
        padding: 10px 15px;
        background-color: rgba($lightColor, 0.60);
        margin-bottom: 15px;
    }
    @media (max-width: $bp-tablet) {
    &__body {
       padding: 7px 10px;
       margin-bottom: 7px;
      }
    }
    @media (max-width: $bp-small-tablet) {
    &__body {
       padding: 10px;
       margin-bottom: 8px;
      }
    }
    @media (max-width: $bp-mobile) {
    &__body {
       padding: 7px 10px;
       margin-bottom: 7px;
      }
    }

    &__description {
        @include text(13px, 400, $darkColor, 17px, normal);
        margin-bottom: 10px;
    }
    @media (max-width: $bp-tablet) {
    &__description {
       @include text(12px, 400, $darkColor, 13px, normal);
       margin-bottom: 5px;
      }
    }
    @media (max-width: $bp-small-tablet) {
    &__description {
       @include text(13px, 400, $darkColor, 14px, normal);
      }
    }
    @media (max-width: $bp-mobile) {
    &__description {
       @include text(12px, 400, $darkColor, 13px, normal);
       margin-bottom: 5px;
      }
    }

    &__meta {
        @include flex();
        padding-top: 8px;
        border-top: 1px solid rgba($darkColor, 0.1);
    }
    @media (max-width: $bp-tablet) {
    &__meta {
       padding-top: 5px;
      }
    }

    &__user {
        @include text(12px, 600, rgba($darkColor, 0.80), normal, normal);
    }
    @media (max-width: $bp-tablet) {
    &__user {
       @include text(10px, 600, rgba($darkColor, 0.80), normal, normal);
      }
    }
    @media (max-width: $bp-small-tablet) {
    &__user {
       @include text(11px, 600, rgba($darkColor, 0.80), normal, normal);
      }
    }
    @media (max-width: $bp-mobile) {
    &__user {
       @include text(10px, 600, rgba($darkColor, 0.80), normal, normal);
      }
    }

    &__time {
        @include text(11px, 400, rgba($darkColor, 0.90), normal, normal); 
    }
    @media (max-width: $bp-tablet) {
    &__time {
       @include text(9px, 400, rgba($darkColor, 0.90), normal, normal); 
      }
    }
    @media (max-width: $bp-small-tablet) {
    &__time {
       @include text(10px, 400, rgba($darkColor, 0.90), normal, normal); 
      }
    }
    @media (max-width: $bp-mobile) {
    &__time {
       @include text(9px, 400, rgba($darkColor, 0.90), normal, normal); 
      }
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__edit-btn {
        @include flex(flex-start, center, 5px);
        padding: 3px 15px;
        border: 0.3px solid rgba($lightColor, 0.30);
        border-radius: 5px;
        background-color: rgba($lightColor, 0.30);
        opacity: 0.8;
        box-shadow: 0 4px 16px rgba($darkColor, 0.15);
        cursor: pointer;
        transition: opacity 0.1s linear,
                    transform 0.1s linear;

        &:hover {
            opacity: 1.0;
            transform: scale(1.05);
        }
        &:active {
            opacity: 1.0;
            transform: scale(1.00);
        }

    }
    @media (max-width: $bp-tablet) {
    &__edit-btn  {
        padding: 2px 8px;
      }
    }
    @media (max-width: $bp-tablet) {
    &__edit-btn  {
        padding: 3px 10px;
      }
    }
    @media (max-width: $bp-mobile) {
    &__edit-btn  {
        padding: 2px 8px;
      }
    }

    @media (max-width: $bp-tablet) {
        &__edit-btn-icon {
            transform: scale(0.8);
        }
    }
    @media (max-width: $bp-small-tablet) {
        &__edit-btn-icon {
            transform: scale(1.10);
        }
    }
    @media (max-width: $bp-mobile) {
        &__edit-btn-icon {
            transform: scale(0.8);
        }
    } 

    &__edit-btn-text {
        @include text(12px, 500, $lightColor, normal, 1px);
    }
    @media (max-width: $bp-tablet) {
    &__edit-btn-text  {
        @include text(10px, 500, $lightColor, 14px, 1px);
      }
    }
     @media (max-width: $bp-small-tablet) {
    &__edit-btn-text  {
        @include text(11px, 500, $lightColor, 14px, 1px);
      }
    }
    @media (max-width: $bp-mobile) {
    &__edit-btn-text  {
        @include text(10px, 500, $lightColor, 14px, 1px);
      }
    }

    &__delete-btn {
        @include flex($justify: center);
        border-radius: 6px;
        border: 0.5px solid rgba($lightColor, 0.25);
        background-color: $redColor;
        opacity: 0.8;
        box-shadow: 0 4px 16px rgba($darkColor, 0.15);
        padding: 3px 10px 2px;
        cursor: pointer;
        transition: opacity 0.1s linear,
                    transform 0.1s linear;

        &:hover {
            opacity: 1.00;
            transform: scale(1.05);
        }
        &:active {
            opacity: 1.00;
            transform: scale(1.00);
        }
    }
    @media (max-width: $bp-tablet) {
        &__delete-btn {
            padding: 4px 6px 0px;
        }
    } 
    @media (max-width: $bp-small-tablet) {
        &__delete-btn {
            padding: 4px 8px 0px;
        }
    }
    @media (max-width: $bp-mobile) {
        &__delete-btn {
            padding: 4px 6px 0px;
        }
    } 

    @media (max-width: $bp-tablet) {
        &__delete-btn-icon {
            transform: scale(0.75);
        }
    } 
    @media (max-width: $bp-tablet) {
        &__delete-btn-icon {
            transform: scale(1.10);
        }
    }
    @media (max-width: $bp-tablet) {
        &__delete-btn-icon {
            transform: scale(0.9);
        }
    }  
}
@media (max-width: $bp-tablet) {
    .task {
        padding: 10px;
        margin-bottom: 10px;
      }
    }

// Modal Overlay
.task-modal-overlay,
.warning-modal-overlay {
    position: fixed;
    inset: 0;
    @include flex($align: flex-start, $justify: center);
    background: rgba($darkColor, 0.5);
    z-index: 1000;
}

// Task Modal
.task-modal {
    max-width: 600px;
    width: 100%;
    padding: 30px 40px;
    margin: 200px 20px 0;
    border-radius: 15px;
    border: 0.3px solid rgba($lightColor, 0.30);
    background: linear-gradient(180deg, rgba($lightColor, 0.70) 0%, $lightBrownColor 50%, rgba($brownColor, 0.70) 100%);
    backdrop-filter: blur(6px);

    &__header {
        margin-bottom: 10px;
    }

    &__title {
        @include text(18px, 500, rgba($darkColor, 0.85), normal, normal);
        width: 100%;
        padding: 10px 20px;
        outline: none;
        border: none;
        border-radius: 8px;
        background-color: rgba($lightColor, 0.8);
        &::placeholder {
            color: rgba($darkColor, 0.5);
        }
    }
    @media (max-width: $bp-small-tablet) {
    &__title  {
        font-size: 16px;
        padding: 7px 15px;
      }
    }
    @media (max-width: $bp-mobile) {
    &__title  {
        font-size: 14px;
        padding: 5px 10px;
      }
    }

    &__description {
        @include text(17px, 400, rgba($darkColor, 0.85), 22px, normal);
        width: 100%;
        padding: 10px 20px;
        outline: none;
        resize: none;
        border: none;
        border-radius: 8px;
        background-color: rgba($lightColor, 0.60);
        margin-bottom: 10px;
        &::placeholder {
            color: rgba($darkColor, 0.4);
        }
    }
    @media (max-width: $bp-small-tablet) {
    &__description  {
        font-size: 15px;
        padding: 7px 15px;
      }
    }
    @media (max-width: $bp-mobile) {
    &__description  {
        font-size: 13px;
        padding: 5px 10px;
      }
    }

    &__popovers {
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 10px;
    }
    @media (max-width: $bp-small-tablet) {
    &__popovers  {
        margin-bottom: 15px;
      }
    }
    @media (max-width: $bp-mobile) {
    &__popovers  {
        margin-bottom: 10px;
      }
    }

    &__user-popover {
        width: 100%;
    }

    &__topic-popover {
        width: 100%;
    }

    &__popover-btn {
        width: 100%;
        @include text(16px, 500, rgba($darkColor, 0.85), normal, normal);
        @include flex();
        background-color: rgba($lightColor, 0.50);
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.1s linear,
                    transform 0.1s linear;

        &:hover {
            background-color: rgba($lightColor, 0.70);
            transform: scale(1.02);
        }
        &:active {
            transform: scale(1.00);
        }
    }
    @media (max-width: $bp-small-tablet) {
    &__popover-btn {
        font-size: 14px;
        padding: 7px 15px;
      }
    }
    @media (max-width: 520px) {
    &__popover-btn  {
        font-size: 13px;
        padding: 5px 10px;
      }
    }

    &__user-popover {
        position: relative;
    }

    &__user-popover-content {
        position: absolute;
        top: 95%;
        left: 0;
        width: 100%;
        background-color: rgba($lightColor, 0.85);
        backdrop-filter: blur(8px);
        border-radius: 4px;
        padding: 14px;
        box-shadow: 0 4px 16px rgba($darkColor, 0.15);
    }
    @media (max-width: $bp-small-tablet) {
    &__user-popover-content {
       padding: 10px;
    }
    }

    &__user-list {
        list-style: none;
    }

    &__user {
        position: relative;
        border-radius: 8px;
        margin-bottom: 3px;

        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            background-color: rgba($darkColor, 0.1);
        }
    }
     @media (max-width: $bp-small-tablet) {
    &__user {
        margin-bottom: 2px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    }

    &__user-name {
        @include text(14px, 400, $darkColor, normal, normal);
        border: none;
        background: transparent;
        padding: 6px 10px;
        cursor: pointer;
    }
    @media (max-width: 550px) {
    &__user-name {
       font-size: 13px;
        padding: 5px 8px;
    }
    }
     @media (max-width: 500px) {
    &__user-name {
       font-size: 12px;
        padding: 3px 5px;
    }
    }

    &__user-select {
        position: absolute;
        top: 15%;
        right: 5%;
    }

     &__topic-popover {
        position: relative;
    }

    &__topic-popover-btn-content {
        @include flex($justify: flex-start, $gap: 10px);
    }

    &__topic-popover-content {
        position: absolute;
        top: 95%;
        left: 0;
        width: 100%;
        background-color: rgba($lightColor, 0.85);
        backdrop-filter: blur(6px);
        border-radius: 4px;
        padding: 16px;
        box-shadow: 0 4px 16px rgba($darkColor, 0.15);
        z-index: 10;
    }
    @media (max-width: $bp-small-tablet) {
    &__topic-popover-content{
       padding: 10px 5px;
    }
    }

    &__topic-header {
        @include text(18px, 500, rgba($darkColor, 0.85), normal, normal);
        padding-bottom: 5px;
        border-bottom: 0.3px solid rgba($brownColor, 0.3);
        margin-bottom: 10px;
    }
    @media (max-width: $bp-small-tablet) {
    &__topic-header{
       padding: 0 5px 5px;
    }
    }

    &__topic-list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
     @media (max-width: $bp-mobile) {
    &__topic-list{
       gap: 3px;
    }
    }
    @media (max-width: 430px) {
    &__topic-list{
       display: block;
    }
    }

    &__topic-item {
        @include flex($justify: flex-start, $gap: 10px);
        padding: 6px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.1s linear;
        &:hover {
            background-color: rgba($darkColor, 0.05);
        }
    }
    @media (max-width: $bp-small-tablet) {
    &__topic-item {
        gap: 5px;
       padding: 3px;
    }
    }
    @media (max-width: $bp-mobile) {
    &__topic-item {
        gap: 3px;
       padding: 0;
    }
    }
    @media (max-width: 430px) {
    &__topic-item {
        gap: 7px;
       margin-bottom: 3px;
       padding: 2px;
       &:last-child {
        margin-bottom: 0px;
       }
    }
    }

    &__topic-color {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        transition: transform 0.1s linear;
        &:hover {
            transform: scale(1.10);
        }
    }
    @media (max-width: 650px) {
    &__topic-color {
       transform: scale(0.8);
       &:hover {
            transform: scale(0.95);
        }
    }
    }
     @media (max-width: 430px) {
    &__topic-color {
       transform: scale(0.95);
       &:hover {
            transform: scale(1.05);
        }
    }
    }

    &__topic-select {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__topic-color--btn {
        width: 19px;
        height: 19px;
    }
    &__topic-color--bug { background-color: rgba($bugColor, 0.80); }
    &__topic-color--feature { background-color: rgba($featureColor, 0.80); }
    &__topic-color--design { background-color: rgba($designColor, 0.80); }
    &__topic-color--improvement { background-color: rgba($improvementColor, 0.80); }
    &__topic-color--research { background-color: rgba($researchColor, 0.80); }
    &__topic-color--docs { background-color: rgba($docsColor, 0.80); }

    &__topic-name {
        @include text(14px, 400, $darkColor, normal, normal);
        &--btn {
            font-size: 16px;
        }
    }
    @media (max-width: 550px) {
    &__topic-name {
       font-size: 12px;
    &--btn {
       font-size: 14px;
    }
    }
    }
    @media (max-width: 430px) {
    &__topic-name {
       font-size: 13px;
    }
    }

    &__controls {
        @include flex($justify: flex-end, $gap: 20px);
    }
    @media (max-width: 550px) {
    &__controls {
       gap: 15px;
    }
    }
    @media (max-width: 480px) {
    &__controls {
       gap: 10px;
    }
    }

    &__control-btn {
        @include text(18px, 400, $darkColor, normal, normal);
        padding: 7px 25px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &--cancel {
            color: $darkColor;
            background-color: rgba($lightColor, 0.60);
            transition: background-color 0.1s linear,
                        transform 0.1s linear;

            &:hover {
                background-color: rgba($lightColor, 0.75);
                transform: scale(1.05);
            }
            &:active {
                transform: scale(1.00);
            }
        }

        &--confirm {
            color: $lightColor;
            background-color:  rgba($darkColor, 0.70);

           transition: background-color 0.1s linear,
                        transform 0.1s linear;

            &:hover {
                background-color: rgba($darkColor, 0.80);
                transform: scale(1.05);
            }
            &:active {
                transform: scale(1.00);
            }
        }
    }
    @media (max-width: 550px) {
    &__control-btn {
        font-size: 16px;
       padding: 5px 20px;
    }
    }
    @media (max-width: $bp-mobile) {
    &__control-btn {
        font-size: 15px;
       padding: 5px 15px;
    }
    }
}

@media (max-width: $bp-small-tablet) {
    .task-modal  {
        padding: 20px 30px;
        margin-top: 100px;
      }
    }
@media (max-width: $bp-mobile) {
    .task-modal  {
        padding: 20px 20px;
      }
    }


// Warning Modal
.warning-modal {
    max-width: 420px;
    width: 100%;
    padding: 20px 30px;
    margin: 200px 20px 0;
    border-radius: 15px;
    border: 0.3px solid rgba($lightColor, 0.25);
    background: linear-gradient(180deg, rgba($lightColor, 0.70) 0%, rgba($lightBrownColor, 0.60) 50%, rgba($brownColor, 0.50) 100%);
    backdrop-filter: blur(4px);
    text-align: center;

    &__header {
        @include flex($justify: center, $gap: 10px);
        margin-bottom: 8px;
    }
    @media (max-width: $bp-small-tablet) {
    &__header {
        margin-bottom: 5px;
      }
    }

    &__icon {
        transform: scale(1.3);
    }
    @media (max-width: $bp-small-tablet) {
    &__icon {
        transform: scale(1.1);
      }
    }

    &__title {
        @include text(20px, 600, rgba($darkColor, 0.90), normal, normal);
    }
     @media (max-width: $bp-small-tablet) {
    &__title {
       font-size: 18px;
      }
    }
    @media (max-width: $bp-mobile) {
    &__title {
       font-size: 16px;
      }
    }

    &__line {
        line-height: 0;
        margin-bottom: 10px;
    }
    @media (max-width: $bp-small-tablet) {
    &__line {
       margin-bottom: 7px;
      }
    }

    &__text {
        @include text(16px, 400, rgba($darkColor, 0.85), 20px, normal);
        margin-bottom: 20px;
    }
    @media (max-width: $bp-small-tablet) {
    &__text {
       font-size: 14px;
       margin-bottom: 15px;
      }
    }

    &__controls {
        @include flex($justify: center, $gap: 20px);
    }
    @media (max-width: $bp-small-tablet) {
    &__controls {
       gap: 15px;
      }
    }
    @media (max-width: $bp-mobile) {
    &__controls {
       gap: 10px;
      }
    }

    &__btn {
        @include text(18px, 500, $darkColor, normal, 1px);
        padding: 7px 25px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &--cancel {
            background-color:rgba($lightColor, 0.60);
            color: $darkColor;
            transition: background-color 0.1s linear,
                        transform 0.1s linear;

            &:hover {
                background-color: rgba($lightColor, 0.80);;
                transform: scale(1.02);
            }
            &:active {
                transform: scale(1.00);
            }
        }

        &--delete {
            background-color: rgba($redColor, 0.70);
            color: $lightColor;
            transition: background-color 0.1s linear,
                        transform 0.1s linear;

            &:hover {
                background-color: $redColor;
                transform: scale(1.02);
            }
            &:active {
                transform: scale(1.00);
            }
        }
    }
    @media (max-width: $bp-small-tablet) {
    &__btn {
        font-size: 16px;
        padding: 5px 20px;
      }
    }
    @media (max-width: $bp-mobile) {
    &__btn {
        font-size: 15px;
        padding: 5px 15px;
      }
    }
}
@media (max-width: $bp-small-tablet) {
    .task-modal  {
        padding: 15px;
        margin-top: 100px;
      }
    }
@media (max-width: $bp-small-tablet) {
    .task-modal  {
        padding: 10px;
        margin-top: 70px;
      }
    }

